{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
  </head>
  <body>
    <div class="home">
      <div class="entire-frame-wrapper">
        <div class="entire-frame">
          <div class="TOP-BAR">
            <div class="bar-frame">
              <div class="bar-group">
                <div class="patreon-button-frame"><div class="text-wrapper">Patreon</div></div>
                <div class="LOGO"></div>
                <div class="bar-options">
                  <div class="div-wrapper"><div class="div">Videos</div></div>
                  <div class="div-wrapper"><div class="text-wrapper-2">Merch</div></div>
                  <div class="div-wrapper"><div class="text-wrapper-3">PayPal</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="SECTOR">
            <div class="youtube-vid-title">
              <div class="title"><p class="p">Welcome to The Plis Chronicler</p></div>
              <div class="youtube-video"></div>
            </div>
          </div>
          <div class="SECTOR-2">
            <div class="text-sector">
              <p class="text-wrapper-4">
                We are a group of passionate individuals who have dedicated The Plis Chronicler YouTube channel to
                creating beautiful and innovative content. Our engaging approach revolves around exploring historical
                topics, delving into the rich cultural heritage that Albania has bequeathed to its people. Join us on a
                journey to cherish and take pride in the profound legacy that shapes the identity of all Albanians.
              </p>
            </div>
            <img class="shqiponja-frame" src="img/shqiponja-frame.svg" />
          </div>
          <div class="SECTOR-3">
            <div class="element-youtube-videos">
              <div class="video-frame"><img class="frame" src="img/frame-7.svg" /></div>
              <div class="frame-wrapper"><img class="img" src="img/frame-8.svg" /></div>
              <div class="img-wrapper"><img class="img" src="img/frame-9.svg" /></div>
            </div>
            <div class="title-sector"><p class="text-wrapper-5">Check out our latest content..</p></div>
          </div>
          <div class="SECTOR-4">
            <div class="title-sector-2"><div class="text-wrapper-6">Buy your favourite Murch...</div></div>
            <div class="element-murch-pictures">
              <div class="element-tshirt"><img class="the-pplis-chronicler" src="img/image.png" /></div>
              <div class="element-nd-tshirt">
                <img class="the-pplis-chronicler" src="img/the-pplis-chronicler-murch-6.png" />
              </div>
              <div class="element-d-tshirt">
                <img class="the-pplis-chronicler" src="img/the-pplis-chronicler-murch-4.png" />
              </div>
              <div class="text-sector-2"><div class="text-wrapper-7">Featured</div></div>
            </div>
          </div>
          <div class="SECTOR-5">
            <div class="element-posts">
              <div class="group">
                <div class="post"><img class="the-pplis-chronicler" src="img/the-pplis-chronicler-murch-3.png" /></div>
                <div class="the-pplis-chronicler-wrapper">
                  <img class="the-pplis-chronicler" src="img/the-pplis-chronicler-murch.png" />
                </div>
              </div>
              <div class="group">
                <div class="post"><img class="the-pplis-chronicler" src="img/the-pplis-chronicler-murch-5.png" /></div>
                <div class="the-pplis-chronicler-wrapper">
                  <img class="the-pplis-chronicler" src="img/the-pplis-chronicler-murch-2.png" />
                </div>
              </div>
            </div>
            <div class="title-sector-3"><div class="text-wrapper-6">Post Updates...</div></div>
          </div>
          <div class="SECTOR-6">
            <div class="bar-on-the-bottom">
              <div class="div-wrapper"><div class="text-wrapper-8">About us</div></div>
              <div class="div-wrapper"><div class="text-wrapper-9">Support</div></div>
              <div class="div-wrapper"><div class="text-wrapper-10">FAQ</div></div>
            </div>
            <img class="icons" src="img/icons.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
